<!DOCTYPE html>
{% load static %}

<html>

<head lang="en">
    <meta charset="UTF-8" />
    <title> StudyMonster -
        {% block title_block %}
        Home
        {% endblock %}
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <noscript>
        <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
    </noscript>
    {% block css_block %}
    <!-- css  -->
    {% endblock %}
</head>

<body class="is-preload landing" id="body_block_content">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1 id="logo"><a href="/"><img src="{% static 'images/logo.png' %}" alt="" height="60" /></a>
            </h1>
            <nav id="nav">
                <ul>
                    <li><a href="/">Study rooms</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/userprofile">User profile</a></li>
                    <li><a href="/logout" class="button primary">Log out</a></li>
                    {% else %}
                    <!-- Show these links when the user is NOT logged in -->
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}" class="button primary">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <div>
            {% block body_block %}
            This is body_block's default content.
            {% endblock %}
        </div>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="https://twitter.com/" class="icon brands alt fa-twitter"><span
                            class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/" class="icon brands alt fa-facebook-f"><span
                            class="label">Facebook</span></a></li>
                <li><a href="https://www.linkedin.com/" class="icon brands alt fa-linkedin-in"><span
                            class="label">LinkedIn</span></a></li>
                <li><a href="https://www.instagram.com/" class="icon brands alt fa-instagram"><span
                            class="label">Instagram</span></a></li>
                <li><a href="https://github.com/Val-Resh/ITECH-TEAM-PROJECT.git" class="icon brands alt fa-github"><span
                            class="label">GitHub</span></a></li>
                <li><a href="mailto:2516812Z@student.gla.ac.uk" class="icon solid alt fa-envelope"><span
                            class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; All rights reserved.</li>
                <li>Design: GOTTA CATCH THEM ALL</li>
                <li>All the pictures we used in this website <a href="https://www.freepik.com/home">Freepik</a></li>
            </ul>
        </footer>

        {% block scripts_block %}
        <!-- Scripts -->
        {% endblock %}
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'assets/js/browser.min.js' %}"></script>
        <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'assets/js/util.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        <script src="{% static 'assets/js/room.js' %}"></script>
        <script src="{% static 'assets/js/website-jquery.js' %}"></script>
</body>

</html>