{% extends 'base.html' %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'assets/css/battle.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/button.css' %}" />
{% endblock %}

{% block title_block %}
User Profile
{% endblock %}

{% block body_block %}
<section class="battle">

    <div>
        <div class="win-display">
            <div class="btn-info btn-1">Combat Result: {{ winner }} win!!</div>
            <strong class="battle-tips">*Note: The result was calculated based on each monster's stats: a small random
                range of their attack
                points
                and their health points.</strong>
        </div>
        <div id="left">
            <div class="card">
                {% if userinfo.monster.picture %}
                <div class="avatar" style="background-image: url({{ MEDIA_URL }}{{ userinfo.monster.picture }})">
                </div>
                {% else %}
                <div class="avatar"></div>
                {% endif %}
                <div class="userinfomain">
                    <div class="info">{{ user.username }}</div>
                    <div class="info2">Monster: {{ userinfo.monster.name }}</div>
                </div>
                <div class="divider2"></div>
                <div class="socialinfo">
                    <div class="socialone">
                        <span class="socialtext">{{ userinfo.monster.level }}</span><br />
                        <span class="socialheading">Lv</span>
                    </div>
                    <div class="socialtwo">
                        <span class="socialtext">{{ userinfo.monster.health }}</span><br />
                        <span class="socialheading">HP</span>
                    </div>
                    <div class="socialthree">
                        <span class="socialtext">{{ userinfo.monster.attack }}</span><br />
                        <span class="socialheading">Attack</span>
                    </div>
                </div>
            </div><!-- card -->
        </div><!-- left -->
        <div id="right">
            <div class="card2">
                {% if opponent_userinfo.monster.picture %}
                <div class="avatar2"
                    style="background-image: url({{ MEDIA_URL }}{{ opponent_userinfo.monster.picture }})">
                </div>
                {% else %}
                <div class="avatar2"></div>
                {% endif %}
                <div class="userinfomain">
                    <div class="info">{{ opponent_userinfo.user.username }}</div>
                    <div class="info2">Monster: {{ opponent_userinfo.monster.name }}</div>
                </div>
                <div class="divider2"></div>
                <div class="socialinfo">
                    <div class="socialone">
                        <span class="socialtext">{{ opponent_userinfo.monster.level }}</span><br />
                        <span class="socialheading">Lv</span>
                    </div>
                    <div class="socialtwo">
                        <span class="socialtext">{{ opponent_userinfo.monster.health }}</span><br />
                        <span class="socialheading">HP</span>
                    </div>
                    <div class="socialthree">
                        <span class="socialtext">{{ opponent_userinfo.monster.attack }}</span><br />
                        <span class="socialheading">Attack</span>
                    </div>
                </div>
            </div><!-- card -->
        </div>

        <div>
        </div>
    </div>
</section>
<div>
    <div class="backbutton back-button-battle">
        <a href="/room/{{opponent_userinfo.room.name}}" class="btn-info btn-1">Back</a>
    </div>
</div>
{% endblock %}