<!DOCTYPE HTML>

{% load staticfiles %}

<html>
	<head>
		<title>StudyMonster</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/room.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/cards2.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/studymonster/"><img src="{% static 'images/logo.png' %}" alt="" height="60" /></a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Study rooms</a></li>
							<li><a href="/shop">Shop</a></li>
							<li><a href="/userprofile">User profile</a></li>
							<li><a href="/login" class="button primary">Log in</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<h1>abd</h1>
						<h2>Time To Study!</h2>
						<span class="clock"></span>
					</div>
					<a href="#room" class="goto-next scrolly">Next</a>

				</section>

			<!-- Room -->
<!--				<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">-->

				<section class="hero-section" id="room">
					<div class="card-grid">
						<a class="card" href="/room/">
							<div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557177324-56c542165309?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)"></div>
							<div class="card__content">
								<p class="card__category">Room 1</p>
								<h3 class="card__heading">Pokemon World</h3>
							</div>
						</a>
						<a class="card" href="#">
							<div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557187666-4fd70cf76254?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
							<div class="card__content">
								<p class="card__category">Room 2</p>
								<h3 class="card__heading">One Piece World</h3>
							</div>
						</a>
						<a class="card" href="#">
							<div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
							<div class="card__content">
								<p class="card__category">Room 3</p>
								<h3 class="card__heading">LOL World</h3>
							</div>
						</a>
						<a class="card" href="#">
							<div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557004396-66e4174d7bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
							<div class="card__content">
								<p class="card__category">Room 4</p>
								<h3 class="card__heading">Small Black House</h3>
							</div>
						</a>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; All rights reserved.</li><li>Design: GOTTA CATCH THEM ALL</a></li>
					</ul>
				</footer>
		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
			<script src="{% static 'assets/js/room.js' %}"></script>
	</body>
</html>