{% extends 'base.html' %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'assets/css/cards2.css' %}" />
{% endblock %}

{% block title_block %}
Home
{% endblock %}
{% block body_block %}

<section id="banner">
	<div class="content">
		<h2>Study Room</h2>
		{% if user.is_authenticated %}
		<h3>Create a room</h3>
		<form id="room_form" method="post" action="{% url 'create_room' %}">
			{% csrf_token %}
			{% for field in form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text }}
			{{ field }}
			{% endfor %}
			<p><button class="button primary" value="submit">Create room</button></p>
		</form>
		<hr />
		<p>or</p>
		<a href="#room" class="scrolly"> <span><u> Join room in section below</u></span> </a>
		{% else %}
		<p>Create an account to enjoy studying!</p>
		{% endif %}
	</div>
</section>

<section class="hero-section" id="room">
	<div class="card-grid">
		{% if rooms %}
		{% for r in rooms %}
		<a class="card" href="{% url 'room' r.name %}">
			<div class="card__background"
				style="background-image: url(https://images.unsplash.com/photo-1557177324-56c542165309?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)">
			</div>
			<div class="card__content">
				<p class="card__category">Room name</p>
				<h3 class="card__heading">{{ r.name }}</h3>
			</div>
		</a>
		{% endfor %}
		{% else %}
		<strong>There are no rooms present.</strong>
		{% endif %}
	</div>

</section>

{% endblock %}