<!DOCTYPE HTML>

{% load staticfiles %}

<html>

<head>
	<title>Login in - StudyMonster</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/form.css' %}" />
	<noscript>
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
	</noscript>
</head>

<body class="is-preload landing">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1 id="logo"><a href="/studymonster/"><img src="{% static 'images/logo.png' %}" alt="" height="60" /></a>
			</h1>
			<nav id="nav">
				<ul>
					<li><a href="/">Study rooms</a></li>
					<li><a href="/shop">Shop</a></li>
					<li><a href="/userprofile">User profile</a></li>
					<li><a href="/login" class="button primary">Log in</a></li>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<div class="content">

				<form id="login_form" method="post" action="{%url 'login' %}">
					<h3>Login</h3>
					{% csrf_token %}
					<label for="username">Username</label>
					<input name="username" type="text" placeholder="Email or Phone" id="username">

					<label for="password">Password</label>
					<input name="password" type="password" placeholder="Password" id="password">
					{{login_message}}
					<button class="button primary" value="submit">Log in</button>
					<p>Didn’t have an account? Go to <a href="/register">Register</a></p>
				</form>

			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
				<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; All rights reserved.</li>
				<li>Design: GOTTA CATCH THEM ALL</a></li>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>