{% extends 'base.html' %}
{% load static %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'assets/css/form.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/button.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/cards2.css' %}" />
{% endblock %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}
<section id="banner">
	<div>
		<form id="register_form" method="post" action="{%url 'register' %}" enctype="multipart/form-data">
			{% csrf_token %}
			<h3>Register</h3>
			{{user_form.as_p}}
			<!-- <label for="username">Username</label>
					<input type="text" placeholder="Email or Phone" id="username">

					<label for="password">Password</label>
					<input type="password" placeholder="Password" id="password">

					<label for="passwordconfirmation">Confirm Password</label>
					<input type="password" placeholder="Confirm Password" id="passwordconfirmation"> -->

			<button class="btn-info btn-3">Register</button>
			<span>Already had an account? Go to <a href="/login">Log In</a></span>
		</form>
	</div>
</section>
{% endblock %}