<!DOCTYPE HTML>
<html>
	<head>
		<title>StudyMonster</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/form.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html"><img src="images/logo.png" alt="" height="60"/></a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Study rooms</a></li>
							<li><a href="/shop">Shop</a></li>
							<li><a href="/user-profile">User profile</a></li>
							<li><a href="/elements">Elements</a></li>
							<li><a href="/login" class="button primary">Log in</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div  class="content">
						<form >
							<h3>Login Here</h3>

							<label for="username">Username</label>
							<input type="text" placeholder="Email or Phone" id="username">

							<label for="password">Password</label>
							<input type="password" placeholder="Password" id="password">

							<button >Log In</button>
							<button class="button primary">Sign up</button>
							<div class="social">
								<div class="go"><i class="fab fa-google"></i> Google</div>
								<div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
							</div>
						</form>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; All rights reserved.</li><li>Design: GOTTA CATCH THEM ALL</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>