{% extends 'base.html' %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'assets/css/cards.css' %}" />
{% endblock %}

{% block title_block %}
Shop
{% endblock %}

{% block body_block %}
<div class="wrapper">
	<h1>Shop</h1>
	<div class="cols">
		{% if items %}
		{% for i in items %}
		<div class="col" ontouchstart="this.classList.toggle('hover');">
			<div class="container">
				<div class="front" style="background-image: url(https://unsplash.it/500/500/)">
					<div class="inner">
						<p>{{ i.name }}</p>
						<span>Cost: {{ i.price }}</span>
						<div>{{ i.effect_description }} + {{ i.effect }}</div>
					</div>
				</div>
				<div class="back">
					<div class="inner">
						<p>Click to buy {{ i.name }}</p>
					</div>
				</div>
			</div>
		</div>

		{% endfor %}
		{% else %}
		<strong>There are no items present. Please run populate script first</strong>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block scripts_block %}
<script src="{% static 'assets/js/room.js' %}"></script>
{% endblock %}