{% extends 'base.html' %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'assets/css/user.css' %}" />
{% endblock %}

{% block title_block %}
User Profile
{% endblock %}

{% block body_block %}
<section id="banner">
	<div class="content">
		<div class="container">
			<!-- Checkbox for manipulation   -->
			<input type="checkbox" id="switch" name="switch">

			<div class="card-wrapper">
				<div class="card-front">
					<div class="card-links">
						<span class="fa fa-instagram"></span>
						<span class="fa fa-link"></span>
					</div>
					<div class="card-user">
						<img src="https://unsplash.it/200/200" alt="User Card by Ashish Mehra" />
						<span>2516812Z<i>@gla.ac.uk</i></span>
						<div class="user-info">
							<span>71<b>Posts</b></span>
							<span>532<b>Followers</b></span>
							<span>451<b>Following</b></span>
						</div>
					</div>
				</div>
				<div class="card-back"></div>
			</div>
			<a href="/monster" class="button primary">Choose your monster</a>
		</div>
	</div>
</section>
{% endblock %}

{% block scripts_block %}
<script src="{% static 'assets/js/room.js' %}"></script>
{% endblock %}